footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--bg-color);
}

.footer-logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer-socials a {
    background: var(--bg-color);
    color: var(--color-white);
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer-socials a:hover {
    background: transparent;
    color: var(--bg-color);
    border-color: var(--bg-color);
}

.footer-copyright {
    margin-bottom: 4rem;
    color: var(--bg-color);
}

 /********** Media Queries (Small Dev) ************/
 @media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
  }

  .footer-socials {
      margin: 2.6rem;
  }
 }