@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --bg-color: black;
    --bg-variant: #1a1a1a;
    --color-primary: #00a8ff;
    --color-primary-variant: #5c7a88;
    --color-secondary: #00d8ff;
    --color-tertiary: #00ffd8;
    --color-quaternary: #ffd800;
    --color-white: #ffffff;
    --color-light: rgba(255, 255, 255, 0.5);
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: var(--bg-color);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
}

/* ********** General Styles ************/

.container {
    width: var(--container-width-lg);
    max-width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 4rem;
}

section > h2,
section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.text-light {
    color: var(--color-light);
}


.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    padding: 0.5rem 1rem;
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-primary);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    cursor: pointer;
}

.btn-primary:hover {
    background: var(--color-primary-variant);
    color: var(--color-white);
    border-color: transparent;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--color-secondary);
}

.text-light {
    color: var(--color-white);
}

/* ********** Media Queries (Medium Dev) ************/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
        max-width: var(--container-width-md);
        margin: 0 auto;
    }
    section {
        margin-top: 4rem;
    }
}

/* ********** Media Queries (Small Dev) ************/

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
        max-width: var(--container-width-sm);
    }
    section{
        margin-top: 3rem;
    }
    section > h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}
